{% extends "base.html" %}

{% block content%}
	<div class='container-fluid'>
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Delete ingredient</legend>
				<h2>Are you sure you want too delete: "{{ object.name }}"</h2>
			</fieldset>
			<div class="form-group"> 
				<button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
				<a class="btn btn-outline-secondary" href="{%url 'ingredients-detail' object.id %}">Cancel</a>
			</div>
		</form>
	</div>
{% endblock content%}